SUPABASE_URL=
SUPABASE_SECRET_KEY=
HF_TOKEN=

VECTORLAB_WORKER_NAME=vectorlab-runpod-serverless
STARVECTOR_MODEL_ID=starvector/starvector-1b-im2svg
STARVECTOR_MODEL_REVISION=380ab95d25a8e9ab1dc825debe238b4953ae13b9
STARVECTOR_GPU_HOURLY_USD=0.69
